# a comment - this is ignored
# no file with certain endings
*~
*.DS_Store
*.Rhistory
*.RDataTmp
*.RDataTmp1
*.RDataTmp2
*.RDataTmp3
*.RDataTmp4
*.RData
# ignore these directories with all the files within
temp/

